apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: zipkin
  name: zipkin
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
        app: zipkin
    spec:
      containers:
      - env:
        image: openzipkin/zipkin:latest
        name: zipkin
        ports:
        - containerPort: 9411
        resources: {}
      restartPolicy: Always
      tolerations:
      - key: "node2"
        operator: "Exists"
        effect: "NoSchedule"
status: {}
